:root {
  --black: #393939;
  --white: #ececec;
  --ppal-shadow: #d6d6d6;
  --sec-shadow: #ffffff;

  /* Interactive Format */
  --shadow-int: #c9c9c9;
  --sec-shadow-int: #bdbdbd;

  /* Hover Format*/
  --pall-shadow-hover: rgba(99, 99, 99, 0.315);
  --sec-shadow-hover: #aaaaaa62;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


/* The body */

body {
  transition: .5s;
}


/* The up-header*/

.fa-truck-fast {
  color: white;
}

.fa-bolt {
  color: white
}

.up-header {
  position: relative;
  background: rgba(0, 0, 0, 0.938);
  padding: 2px 0;
  color: rgb(221, 221, 221);
}

.extra-info {
  text-align: start;
  display: flex;
  padding: 0 5%;
}

.sponsor {
  padding: 0 5px;
  height: 15px;
}

.information-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}


.information-slider {
  display: flex;
  width: 300%;
  margin-left: -100%;
}

.information-slider-section {
  color: white;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  width: 100%;
}


/* Header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 60px;
  background: rgb(220, 223, 238);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.07);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}



#isotype-header-logo {
  max-width: 90px;
  width: 6vmax;
}

.Eleven-Electronics-logo {
  display: flex;
  margin-left: 10px;
}

#Eleven-Electronics-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

#Eleven-Electronics-name a {
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
  color: black;
  text-decoration: none;
}


/* Themes switcher */
.switch.container {
  justify-content: center;
  align-items: center;
  position: absolute;
}

.lbl {
  display: flex;
  width: 60px;
  height: 33px;
  background: #979797;
  border-radius: 1em;
  cursor: pointer;
  position: relative;
  transition: .25s;
}

.lbl::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 1em;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: .25s;
}

#switch:checked+.lbl::after {
  left: 30px;
}

#switch:checked+.lbl {
  background: black;
}

#switch {
  display: none;
}


/* The Search Bar */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(158, 158, 158);
  border-radius: 2em;
  padding: 4px 60px;
  backdrop-filter: blur(4px) saturated(180px);
}

.search-bar {
  background: transparent;

  border: none;
  outline: none;
  font-size: 18px;
  position: relative;
  padding: auto 300px;
  right: 40px;
  margin-right: -80px;
  width: 300px;
  color: rgb(245, 243, 233);
}

.search-bar::placeholder {
  color: rgb(245, 243, 233);
}

.search-submit-button {
  border: none;
  outline: none;
  position: relative;
  left: 57px;
  border-radius: 100%;
  margin-right: 10px;
  margin: auto 5px;
  width: 35px;
  height: 35px;
  background: #58629bc0;
  cursor: pointer;
}

#search-icon {
  color: white;
  margin-left: -2px;
  margin-bottom: -2px;
}


/* The nav-bar */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  list-style: none;
  padding: 0 1em;
  position: relative;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  transition: .3s;
}

.menu li a:hover,
.menu li a.active {
  color: rgb(132, 0, 255);
}

.menu li a.active::after,
.menu li a:hover::after {
  content: "";
  width: 35%;
  height: 2px;
  background: rgb(132, 0, 255);
  position: absolute;
  bottom: -4px;
  left: 15px;
  transition: .4s
}

/* The Cart List Display */
.void-cart {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-image: radial-gradient(circle at 120.71% 50%, #ff7f85 0, #ff748c 8.33%, #ff6994 16.67%, #ff5d9c 25%, #ff52a4 33.33%, #ff47ad 41.67%, #f23cb5 50%, #e234be 58.33%, #cf32c8 66.67%, #b935d2 75%, #9f3bdb 83.33%, #7e42e5 91.67%, #514aed 100%);
  color: white;
  padding: 1em;
  margin: 2em;
  height: 40vh;
  border-radius: 2em;
  display: none;
}

.void-cart div {
  margin: .5em;
}

.text {
  padding: 30px;
}

.text h1 {
  margin-bottom: 13px;
}

.pr-price {
  color: rgb(132, 0, 255);
}

.cart-prod .fa-trash:hover {
  color: rgb(132, 0, 255);
  cursor: pointer;
}

.input-bought-amount {
  text-align: center;
  border-radius: 2em;

}

#shop-link {
  color: white;
  text-decoration: none;
  border-radius: 2em;
  background-color: #7e42e5;
  padding: 15px;
  font-size: 18px;
  font-weight: 450;
}

.cart-container {
  margin: 3em 0;
}

#cart-display {
  padding: 1em;
  margin: 2em;
  background-color: rgb(245, 242, 242);
  border-radius: 1.5em;
  box-shadow: 1em 1em 1em rgba(219, 219, 219, 0.534),
    -1em -1em 1em rgba(255, 255, 255, 0.534);
}

.cart-prod {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
  box-shadow: 1em 1em 1em rgba(219, 219, 219, 0.534),
    -1em -1em 1em rgba(255, 255, 255, 0.534);
  border-radius: 2em;
}


.cart-prod img {
  width: 10em;
  margin: auto 0;
}

.characteristics {
  margin: auto 0;
  width: 15em;
  margin: auto 0;
}

.characteristics ul {
  list-style: none;
}

.total-price {
  display: flex;
  justify-content: space-evenly;
}

.total-price div {
  display: flex;
  align-items: center;
  margin: 2em 0;
  box-shadow: 1em 1em 1em rgba(219, 219, 219, 0.534),
    -1em -1em 1em rgba(255, 255, 255, 0.534);
  border-radius: 2em;
  width: fit-content;
  padding: 1em;
  margin: 0;
}

.total-price h3 {
  margin-inline: .2em;
}

.total-price .final-price {
  color: rgb(132, 0, 255);
}

.extra-options {
  display: flex;
  justify-content: space-evenly;
}


.extra-options h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0.5em;
}

.extra-options i {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0.5em;
}

.extra-options div {
  display: flex;
  background-color: rgb(212, 212, 212);
  border-radius: 2em;
  padding: 1em;
  box-shadow: 1em 1em 1em rgba(219, 219, 219, 0.534),
    -1em -1em 1em rgba(255, 255, 255, 0.534);
  cursor: pointer;
}

.extra-options div:hover {
  color: rgb(132, 0, 255);
}

#erase-cart {
  background-color: rgb(212, 212, 212);
  color: #0c0c0c;
  font-weight: bold;
  border-radius: 2em;
  padding: 1em;
  box-shadow: 1em 1em 1em rgba(219, 219, 219, 0.534),
    -1em -1em 1em rgba(255, 255, 255, 0.534);
}

.dsp-container.erase {
  transition: 1.5s;
  opacity: 0;
}

/* The Web Footer*/
footer {
  width: 100%;
  padding-top: 10px;
  background: rgb(201, 201, 201);
  transition: .5s;
}

.container__footer {
  display: flexbox;
  flex-wrap: wrap;
  margin: auto;
}

.container__footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container__footer ul li {
  width: 350px;
}


.box__footer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.box__footer h2 {
  margin-bottom: 2px;
  color: #343434;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
  text-decoration: none;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a i {
  font-size: 20px;
  padding: 2px;
}

.box__copyright {
  margin: auto;
  text-align: center;
  padding: 10px 40px;
}

.box__copyright p {
  margin-top: 15px;
  color: #7a7a7a;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
  ;
}


/* The dark Mode appearance */
body.dark-mode {
  background: #292929;
  transition: .5s;
}


/* Header */
body.dark-mode header {
  background: rgb(75, 75, 75);
}

body.dark-mode header ul li a {
  color: rgb(255, 255, 255);
}

body.dark-mode header ul li a:hover,
body.dark-mode header ul li a.active {
  color: rgb(0, 238, 255);
}

body.dark-mode header ul li a.active::after,
body.dark-mode header ul li a:hover::after {
  background: rgb(0, 238, 255);
}

body.dark-mode #Eleven-Electronics-name p {
  color: white;
}


/* Main Cart Section*/
body.dark-mode #cart-display {
  background-color: #424242;
  color: white;
  box-shadow: 1em 1em 3em rgba(88, 88, 88, 0.616),
    -1em -1em 3em rgba(105, 105, 105, 0.288);
  transition: .5s;
}

body.dark-mode .cart-prod {
  background-color: rgb(51, 51, 51);
  box-shadow: 1em 1em 3em rgba(82, 82, 82, 0.616),
    -1em -1em 3em rgba(110, 110, 110, 0.288);
  transition: .5s;
}

body.dark-mode .pr-price {
  color: rgb(0, 238, 255);
}

body.dark-mode .fa-trash:hover {
  color: rgb(0, 238, 255);
}

body.dark-mode .total-price div {
  background-color: rgb(51, 51, 51);
  color: white;
  box-shadow: 1em 1em 3em rgba(87, 87, 87, 0.322),
    -1em -1em 3em rgba(128, 128, 128, 0.288);
  transition: .5s;
}

body.dark-mode .final-price {
  color: rgb(0, 238, 255);
}

body.dark-mode .extra-options div {
  background-color: rgb(51, 51, 51);
  color: white;
  box-shadow: 1em 1em 3em rgba(87, 87, 87, 0.322),
    -1em -1em 3em rgba(128, 128, 128, 0.288);
  transition: .5s;
}

body.dark-mode .extra-options div:hover {
  color: rgb(0, 238, 255);
}


/*  Footer */
body.dark-mode footer {
  background-color: #0c0c0c;
  transition: .5s;
}


body.dark-mode footer .box__footer h2 {
  color: white;
}

body.dark-mode footer .box__footer a {
  color: rgba(211, 211, 211, 0.829);
}

body.dark-mode footer p {
  color: white;
  ;
}

/* Media queries */

@media (max-width: 1200px) {
  #Eleven-Electronics-name {
    display: none;
  }
}

@media (max-width: 1000px) {
  .search {
    display: none;
  }
}

@media (max-width: 900px) {
  .input-bought-amount {
    width: 80px;
  }
}

@media (max-width: 800px) {
  .extra-info {
    display: none;
  }
}