:root {
  --black: #393939;
  --white: #ececec;
  --shadow: #d6d6d6;
  --sec-shadow: #ffffff;

  /* Interactive Format */
  --shadow-int: #c9c9c9;
  --sec-shadow-int: #bdbdbd;

  /* Hover Format*/
  --pall-shadow-hover: rgba(99, 99, 99, 0.315);
  --sec-shadow-hover: #aaaaaa62;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


/* The body */

body {
  transition: .5s;
}


/* The up-header*/

.fa-truck-fast {
  color: white;
}

.fa-bolt {
  color: white
}

.up-header {
  position: relative;
  background: rgba(0, 0, 0, 0.938);
  padding: 2px 0;
  color: rgb(221, 221, 221);
}

.extra-info {
  text-align: start;
  display: flex;
  padding: 0 5%;
}

.sponsor {
  padding: 0 5px;
  height: 15px;
}

.information-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}


.information-slider {
  display: flex;
  width: 300%;
  margin-left: -100%;
}

.information-slider-section {
  color: white;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  width: 100%;
}


/* Header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 60px;
  background: rgb(220, 223, 238);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.07);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}



#isotype-header-logo {
  max-width: 90px;
  width: 6vmax;
}

.Eleven-Electronics-logo {
  display: flex;
  margin-left: 10px;
}

#Eleven-Electronics-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

#Eleven-Electronics-name a {
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
  color: black;
  text-decoration: none;
}


/* Themes switcher */
.switch.container {
  justify-content: center;
  align-items: center;
  position: absolute;
}

.lbl {
  display: flex;
  width: 60px;
  height: 33px;
  background: #979797;
  border-radius: 1em;
  cursor: pointer;
  position: relative;
  transition: .25s;
}

.lbl::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 1em;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: .25s;
}

#switch:checked+.lbl::after {
  left: 30px;
}

#switch:checked+.lbl {
  background: black;
}

#switch {
  display: none;
}


/* The search bar */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(158, 158, 158);
  border-radius: 2em;
  padding: 4px 60px;
  backdrop-filter: blur(4px) saturated(180px);
}

.search-bar {
  background: transparent;

  border: none;
  outline: none;
  font-size: 18px;
  position: relative;
  padding: auto 300px;
  right: 40px;
  margin-right: -80px;
  width: 300px;
  color: rgb(245, 243, 233);
}

.search-bar::placeholder {
  color: rgb(245, 243, 233);
}

.search-submit-button {
  border: none;
  outline: none;
  position: relative;
  left: 57px;
  border-radius: 100%;
  margin-right: 10px;
  margin: auto 5px;
  width: 35px;
  height: 35px;
  background: #58629bc0;
  cursor: pointer;
}

#search-icon {
  color: white;
  margin-left: -2px;
  margin-bottom: -2px;
}


/* The nav-bar */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  list-style: none;
  padding: 0 1em;
  position: relative;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  transition: .3s;
}

.menu li a:hover,
.menu li a.active {
  color: rgb(132, 0, 255);
}

.menu li a.active::after,
.menu li a:hover::after {
  content: "";
  width: 35%;
  height: 2px;
  background: rgb(132, 0, 255);
  position: absolute;
  bottom: -4px;
  left: 15px;
  transition: .4s;
}


/* The slider */
.slider {
  margin: auto;
  margin-top: 2em;
  width: 90%;
  max-width: 120em;
  padding: 2em;
  transition: all 0.4s ease;
  border-radius: 1.5em;
  background-color: var(--white);
  box-shadow: 1em 1em 2em var(--shadow), -1em -1em 2em var(--sec-shadow);
  overflow: hidden;
}

.slider .big-one {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  background-color: var(--white);
  box-shadow: 1em 1em 2em var(--shadow), -1em -1em 2em var(--sec-shadow);
  padding: 2em;
  border-radius: 1.5em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.slider .img {
  width: calc(100% / 3 - 3em);
  min-height: 10vh;
  transition: all 0.4s ease;
  border-radius: 2em;
  background-color: var(--white);
  box-shadow: 1em 1em 3em var(--shadow), -1em -1em 3em var(--sec-shadow);
}

.slider .points {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.slider .point {
  width: 4.5em;
  height: 1em;
  margin: 1em 1em 0;
  transition: all 0.4s ease;
  border-radius: 2em;
  background-color: var(--white);
  box-shadow: 0.4em 0.4em 2em var(--shadow-int), -0.4em -0.4em 2em var(--sec-shadow-int);
}

.slider .point.active {
  background: rgb(164, 119, 206);
}

.slider .point:hover {
  box-shadow: 0.4em 0.4em 2em var(--shadow-hover), -0.4em -0.4em 2em var(--sec-shadow-hover);
}


/* The advantages section */
.advantages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-inline: 20px;
  margin-top: 30px;
}

.ad-container {
  width: 190px;
  height: 300px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 1em 1em 2em var(--shadow), -1em -1em 2em var(--sec-shadow);
  display: flexbox;
  margin: 15px 0;
  border-radius: 1.5em;
  transition: .5s;
}


.ad-container:hover {
  box-shadow: 10px 10px 60px rgba(44, 44, 44, 0.288);
  cursor: pointer;
}

.ad-container img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: -9px;
  margin-left: 4px;
}

.ad-container h6 {
  display: inline-block;
  padding: 10% 10%;
  line-height: 1;
  border-radius: 1.5em;
  color: black;
  font-size: 14px;
  box-shadow: 15px 10px 25px rgba(0, 0, 0, 0.08);
  animation-name: adBtnMovement;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: .5s;
}

@keyframes adBtnMovement {
  0% {
    margin-top: 30px;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 30px;
  }
}

.ad-best-products {
  background: rgb(255, 124, 248);
}

.ad-low-prices {
  background: rgb(255, 212, 212);
}

.ad-simple-interface {
  background: rgb(190, 230, 253);
}

.ad-free-shipping {
  background: rgb(252, 206, 107);
}

.ad-great-readiness {
  background: rgb(255, 212, 212);
}

.ad-safe-payment {
  background: rgb(206, 253, 191);
}

#isotype-footer-logo {
  max-width: 100px;
  padding-bottom: 20px;
}


/* The positive comments*/
.comments-container {
  width: 90%;
  max-width: 100em;
  padding: 1em;
  background-color: rgb(245, 242, 242);
  border-radius: 1.5em;
  box-shadow: 1em 1em 2em var(--shadow), -1em -1em 2em var(--sec-shadow);
  margin: 100px auto 100px auto;
  padding-bottom: 70px;
  overflow: hidden;
}

.comments-container ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.comments-container li {
  width: 7em;
  padding: 1em;
  margin-right: 2em;
  background-color: rgb(245, 242, 242);
  border-radius: 1.5em;
  box-shadow: 1em 1em 2em var(--shadow);
  transition: all 0.5s ease;
  cursor: pointer;
  text-align: center;
  transition: .5s;
  margin-bottom: 1em;
}

.comments-container li.active {
  background-color: rgb(124, 46, 228);
  color: white;
}

.comments-container li:hover {
  box-shadow: 1em 1em 1em rgba(219, 219, 219, 0.897),
    -1em -1em 1em rgba(255, 255, 255, 0.815);
}

.comments-container .comments {
  position: relative;
  min-height: 200px;
}

.comments-container .block {
  padding: 1em;
  margin: 1em;
  position: absolute;
  background-color: rgb(245, 242, 242);
  top: 2em;
  border-radius: 1.5em;
  box-shadow: 1em 1em 1em rgba(219, 219, 219, 0.534),
    -1em -1em 1em rgba(255, 255, 255, 0.534);
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateX(50%);
}

.comments-container img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.comments-container h3 {
  color: rgb(132, 0, 255);
  margin-top: 4px;
}

.comments-container p {
  color: #3f3e3e;
  margin: 0 10px;
}

.comments-container .block.active {
  opacity: 1;
  transform: translateX(0%);
}


/* The web footer */

footer {
  width: 100%;
  padding-top: 10px;
  background: rgb(201, 201, 201);
  transition: .5s;
}

.container__footer {
  display: flexbox;
  flex-wrap: wrap;
  margin: auto;

}

.container__footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container__footer ul li {
  width: 350px;

}


.box__footer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.box__footer h2 {
  margin-bottom: 2px;
  color: #343434;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
  text-decoration: none;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a i {
  font-size: 20px;
  padding: 2px;
}

.box__copyright {
  margin: auto;
  text-align: center;
  padding: 10px 40px;
}

.box__copyright p {
  margin-top: 15px;
  color: #7a7a7a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
  ;
}

/* The Dark Mode appearance */
body.dark-mode {
  background: #292929;
  transition: .5s;
}


/* Header */
body.dark-mode header {
  background: rgb(75, 75, 75);
}

body.dark-mode header ul li a {
  color: rgb(255, 255, 255);
}

body.dark-mode header ul li a:hover,
body.dark-mode header ul li a.active {
  color: rgb(0, 238, 255);
}

body.dark-mode header ul li a.active::after,
body.dark-mode header ul li a:hover::after {
  background: rgb(0, 238, 255);
}

body.dark-mode #Eleven-Electronics-name p {
  color: white;
}


/* The slider */
body.dark-mode .slider {
  background-color: rgb(26, 26, 26);
  box-shadow: 1em 1em 3em rgba(77, 77, 77, 0.322),
    -1em -1em 3em rgba(99, 99, 99, 0.288);
}

body.dark-mode .slider .big-one {
  background-color: #424242;
  box-shadow: 1em 1em 3em rgba(51, 51, 51, 0.322),
    -1em -1em 3em rgba(99, 99, 99, 0.288);
}

body.dark-mode .slider .img {
  box-shadow: 1em 1em 3em rgba(51, 51, 51, 0.322),
    -1em -1em 3em rgba(99, 99, 99, 0.288);
}


body.dark-mode .slider .point {
  background-color: #424242;
  box-shadow: 1em 1em 3em rgba(51, 51, 51, 0.322),
    -1em -1em 3em rgba(99, 99, 99, 0.288);
}

body.dark-mode .slider .point.active {
  background-color: rgb(29, 139, 158);
}

body.dark-mode .slider .point:hover {
  box-shadow: 0.4em 0.4em 2em rgb(0, 0, 0),
    -0.4em -0.4em 2em rgb(0, 0, 0);
}

/* Advantages */
body.dark-mode .advantages .ad-container {
  background: rgb(26, 26, 26);
  box-shadow: 1em 1em 3em rgba(71, 71, 71, 0.322);
  transition: .5s;
}

body.dark-mode .advantages .ad-container h6 {
  box-shadow: 15px 10px 25px rgba(255, 255, 255, 0.13);
}

body.dark-mode .advantages .ad-container:hover {
  box-shadow: 7px 7px 40px rgba(0, 0, 0, 0.637);
}

body.darkMode .advantages .naming {
  background: white;
}


/*  Comments */
body.dark-mode .comments-container {
  background: rgb(26, 26, 26);
  box-shadow: 1em 1em 3em rgba(77, 77, 77, 0.322),
    -1em -1em 3em rgba(99, 99, 99, 0.288);
}

body.dark-mode .comments-container li {
  background-color: #3f3f3f;
  color: white;
  box-shadow: 1em 1em 3em rgba(77, 77, 77, 0.322),
    -1em -1em 3em rgba(99, 99, 99, 0.288);
}

body.dark-mode .comments-container li.active {
  background-color: rgb(29, 139, 158);
}

body.dark-mode .comments-container li:hover {
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.74);
}

body.dark-mode .comments-container .block {
  background-color: #3f3f3f;
  box-shadow: 1em 1em 3em rgba(77, 77, 77, 0.322),
    -1em -1em 3em rgba(99, 99, 99, 0.288);
}

body.dark-mode .comments-container .block h3 {
  color: rgb(52, 224, 255);
}

body.dark-mode .comments-container .block p {
  color: white;
}

/*  Footer */
body.dark-mode footer {
  background-color: #0c0c0c;
  transition: .5s;
}


body.dark-mode footer .box__footer h2 {
  color: white;
}

body.dark-mode footer .box__footer a {
  color: rgba(211, 211, 211, 0.829);
}

body.dark-mode footer p {
  color: white;
  ;
}

/* Media queries */

@media (max-width: 1200px) {
  #Eleven-Electronics-name {
    display: none;
  }

  .advantages {
    margin-inline: 4em;
  }
}
@media (max-width: 1000px) {
  .search {
    display: none;
  }
}

@media (max-width: 800px) {
  .extra-info {
    display: none;
  }
}